@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to src/index.css */
.orange-red-gradient {
  background: linear-gradient(to right, #ea580c, #b91c1c);
}

.indigo-purple-gradient {
  background: linear-gradient(to right, #4f46e5, #9333ea);
}

.green-emerald-gradient {
  background: linear-gradient(to right, #10b981, #059669);
}